/* Common styles */
.navBar {
  padding: 10px 170px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100vw;
}

.contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.navbar1 {
  width: 7%;
}
.navbar1 img {
  max-width: 100%;
  height: auto;
}

.navbar2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.navbarCenter {
  width: 50%;
}

.navbarRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.userIcon {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  color: rgba(16, 7, 24, 0.5);
  cursor: pointer;
}

.tbtruck {
  font-size: 2.8rem;
}

p {
  color: rgba(16, 7, 24, 0.5);
}

span {
  color: #fff;
}

.logOut {
  border: none;
  cursor: pointer;
  background-color: white;
}

.log {
  color: rgba(16, 7, 24, 0.5);
}

/* Navbar Else Section */
.navbarElse {
  display: none;
}

/* Responsive Search Form */
form {
  max-width: 100%;
  margin: 10px 50px;
}

.responsiveSearch {
  font-weight: normal;
  width: 100%;
  background: #ffffff;
  transition: 0.3s;
  height: 48px;
  border: 0.1rem solid rgba(34, 9, 58, 0.05);
  box-sizing: border-box;
  border-radius: 8px;
  opacity: 0.5;
  font-size: 16px;
  color: rgba(16, 7, 24, 0.5);
  padding: 6px 32px 6px 20px;
}

.responsiveSearch:focus {
  outline: none;
  border-color: orange;
}

/* Navbar Bottom Section */
.navbarBottom {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbarbottomRight {
    border: 1px solid rgba(16, 7, 24, 0.1);
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
  }

  span {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .locationIcon {
    color: rgba(0, 0, 0, 0.75);
    padding-right: 10px;
    cursor: pointer;
  }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .navBar {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
  }

  .navbar1 {
    padding-left: 0;
  }

  .navbar2,
  .navbarCenter,
  .navbarRight {
    display: none;
  }

  .navbarElse {
    display: flex;

    .searchIcon {
      color: rgba(16, 7, 24, 0.5);
      opacity: 0.7;
    }

    .locationIcon {
      color: rgba(16, 7, 24, 0.5);
      opacity: 0.7;
      padding-left: 30px;
    }
  }
}